@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form */
.form-container {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: black;
  padding: 16px;
  max-width: 400px; /* Set maximum width for better readability */
  width: 100%; /* Take full width of the container */
}

/* Input and button styles remain the same as in the previous example */

.form-group {
  margin-bottom: 20px; /* Add space between form fields */
}

input[type="text"],
input[type="email"] {
  width: 100%; /* Make inputs fill their container */
  padding: 10px; /* Add padding for better appearance */
  margin: 2% 1%;
  border: 1px solid #ccc; /* Add border for clarity */
  border-radius: 5px; /* Round corners for aesthetics */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form button {
  align-items: center;
  justify-self: center;
  justify-content: center;
}

button {
  width: auto;
  padding: 5px 10px; /* Add padding for better appearance */
  margin: 5px;
  background-color: #007bff; /* Button color */
  color: #fff; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Round corners for aesthetics */
  cursor: pointer; /* Add pointer cursor on hover */
}

button:hover {
  background-color: #0056b3; /* Button color on hover */
}

/* table */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th,
tbody td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody td {
  vertical-align: top; /* Align content at the top of each cell */
}

tbody tr {
  background-color: #f5f5f5;
}

tbody tr:hover {
  background-color: #5ce1e6;
}

th {
  background-color: black;
  color: white;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.table-container {
  margin-top: 3em;
  display: flex;
  overflow-x: auto;
}

.send-email {
  background-color: black;
  padding: 12px;
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-email button {
  font-size: 1.3rem;
  background-color: #007bff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.send-email p {
  color: white;
  font-size: 1.2rem;
}

.popup-content {
  text-align: center;
}
